#home, #sobre, #portfolio, #contato {
	height: 600px;
	display: table;
	width: 100%;
}

.bordered {
	border: 1px solid #333;
	margin: 5px 0;
	padding: 8px;
}

.nome-dev{
	font-family: 'Roboto', sans-serif;
	font-size: 32pt;
	color: gray;
}

.titulo{
	text-align: center;
}

.descricao-dev{
	font-family: 'Asap', sans-serif;
	font-size: 16pt;
	color: gray;
}

.nome-dev, .descricao-dev{
	text-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

#home{
	background: url(../images/BI0.jpg);
	background-color: lightblue;
	background-size: cover;
	background-repeat: no-repeat;	
}

.subdivisao{
	width: 49%;
	display: inline-block;
}

.round-img{
	border-radius: 50%;
	border: 1px solid black;
}

.divisao{
	display: table-cell;
    vertical-align: middle;
}

#sobre{
	background: linear-gradient(to bottom, #000066 0%, #66ccff 100%);
	/*background: url(../images/KK-W.png);*/
	background-size: cover;
	background-repeat: no-repeat;
}

#portfolio{
	background: linear-gradient(to bottom, #000066 0%, #66ccff 100%);
	background-color: coral; 
}

.valign{
	display: table-cell;
	vertical-align: middle;
}

p{
	font-family: 'Asap', sans-serif;
}

.itens, ul, ol{
	color: white;
}

.video{
	text-align: center;
	min-width: 680px;
}

#contato{
	background: linear-gradient(to bottom, #000066 0%, #66ccff 100%);
}