#home, #sobre, #portfolio, #contato {
	height: 600px;
	display: table;
	width: 100%;
}

.bordered {
	border: 1px solid #333;
	margin: 5px 0;
	padding: 8px;
}

.nome-dev{
	font-family: 'Roboto', sans-serif;
	font-size: 32pt;
}

.titulo{
	text-align: center;
}

.descricao-dev{
	font-family: 'Asap', sans-serif;
	font-size: 16pt;
}

.nome-dev, .descricao-dev{
	text-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

#home{
	background: url(../images/VE-W.jpg);
	background-color: lightblue;
	background-size: cover;
	background-repeat: no-repeat;
	
}

.subdivisao{
	width: 49%;
	display: inline-block;
	text-align: center;

}

.round-img{
	border-radius: 50%;
	border: 1px solid black;

}

.divisao{
	display: table-cell;
    vertical-align: middle;
}

#sobre{
	background-color: lightblue;

}

#portfolio{
	background-color: coral; 
}

.valign{
	display: table-cell;
	vertical-align: middle;
}