.center{
	text-align: center;
}

.title{
	font-weight: bold;
}

h1, h2, h3{
	font-family: 'Roboto', sans-serif;
}

p, li, a {
	font-family: 'Asap', sans-serif;
}

.my-frame{
	width: 80%;
	min-height: 350px;
	max-height: 500px;
}

#formulario{
	display: none;
}